@import "https://fonts.googleapis.com/css?family=Roboto:0,400;0,600&display=swap";
.WelcomrPg_125_1597_3963 {
  background: var(--coloe-bg, #f8f8f8);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.StatusBar_1597_3964,
.Rectangle_4_22_84 {
  flex-shrink: 0;
  width: 430px;
  height: 40px;
}
.Group_2_22_93 {
  flex-shrink: 0;
  width: 391.125px;
  height: 20.5px;
}
.Logo_1597_3965 {
  flex-shrink: 0;
  width: 104.757px;
  height: 36px;
}
.DonTHaveAnAccountSignUp_1597_3984 {
  color: var(--Primary, #454545);
  width: 199px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.WelcomeBackReadyToHitTheRoad_1597_3985 {
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
}
.OrPaySection_1597_3986 {
  flex-shrink: 0;
  width: 390px;
  height: 16px;
}
.Group_562_1597_3990 {
  flex-shrink: 0;
  width: 390px;
  height: 142px;
}
.GooglePay_1597_3997,
.ApplePay_1597_4004 {
  flex-shrink: 0;
  width: 390px;
  height: 49px;
}
.Group_563_1597_4009 {
  flex-shrink: 0;
  width: 390px;
  height: 169px;
}
.HomeEndeavor_1597_4031,
.Rectangle_8_31_64 {
  flex-shrink: 0;
  width: 430px;
  height: 40px;
}
.Rectangle_9_31_65 {
  background: #000;
  border-radius: 5px;
  flex-shrink: 0;
  width: 150px;
  height: 5px;
}
